<html>
<head>
    <title>Message HTML Title</title>
</head>
<body>
<div>
    <span style="font-weight: bold;">Please activate your account : </span>
    <a href="{{URL}}">{{URL}}</a>
    <span>{{message}}</span>
</div>
</body>
</html>