<!DOCTYPE html>
<html>

<head>
  <title></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta property="og:type" content="website">
  <meta property="og:locale" content="en_US">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta property="og:site_name" content="DOCTORKHAIR">
  <meta property="og:title" content="#{campaignTitle}">
  <meta name="description" content="#{description}">
  <meta property="og:url" content="#{campaignUrl}">
  <meta property="og:description" content="#{description}">
  <meta property="og:image" content="#{campaignImage}">
</head>

<body onload="redirect()">
<script>
  function redirect() {
    var metas = document.getElementsByTagName('meta');
    for (var i = 0; i < metas.length; i++) {
      if (metas[i].getAttribute("property") == "og:url") {
        window.location.replace(metas[i].getAttribute("content"));
      }
    }
  }
</script>
</body>

</html>